body {
    font-family: var(--font-primary);
    font-size: 16rem;
    background-color: var(--color-bg);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30rem;
    pointer-events: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
}

@media (min-width: 769px) {
    .header {
        padding: 40rem 60rem;
    }
}

.hero__content {
    position: absolute;
    color: var(--color-text);
    font-size: var(--fs-5xl);
    line-height: 1;
    letter-spacing: -3.33px;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 84vw;
    margin: 90px 30px;
}