body {
    font-family: var(--font-primary);
    font-size: 16rem;
    background-color: var(--color-bg);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 16rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 9;
}

@media (min-width: 769px) {
    .header {
        padding: 30rem;
    }
}

.header__claim {
    font-size: var(--fs-lg);
    color: var(--color-dark);
    letter-spacing: -0.33px;
    line-height: 1.01;
    padding-right: 16rem;
}

@media (min-width: 769px) {
    .header__claim {
        padding-right: 30rem;
    }
}

.header__logo-wrapper,
.header__logo {
    display: flex;
    font-weight: 200;
    font-size: var(--fs-4xl);
    color: var(--color-light);
    letter-spacing: -7.81px;
    line-height: 0.88;
}

@media (min-width: 769px) {
    .header__logo-wrapper,
    .header__logo {
        font-size: var(--fs-6xl);
    }
}

.header__logo {
    max-width: clamp(175px, calc(455 / 1440 * 100vw), 650px);
}

.header__logo svg {
    width: 100%;
    height: auto;
}

.header__logo * {
    font-size: inherit;
    color: inherit;
    letter-spacing: inherit;
    line-height: inherit;
}

.header__logo span {
    font-weight: 400;
}

.hero {
    position: relative;
    overflow: hidden;
}

.hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.hero a[href*="neat"] {
    opacity: 0 !important;
}

.hero__content {
    position: absolute;
    color: inherit;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: clamp(480px, calc(100vw * 0.84), 1750px);
    margin: 30px 18px;
    z-index: 1;
}

@media (min-width: 768px) {
    .hero__content {
        margin: 60px 30px;
    }
}

.hero__title {
    position: relative;
}

.hero__content .h1 {
    font-size: var(--fs-4xl);
    line-height: 1.2;
    letter-spacing: -3.33px;
}

@media (min-width: 768px) {
    .hero__content .h1 {
        font-size: var(--fs-5xl);
        line-height: 1;
    }
}

.hero__title .h1 > div[data-keyword]::after {
    content: attr(data-keyword);
    position: absolute;
    display: inline-block;
    font-size: var(--fs-lg);
    background-color: var(--color-dark);
    padding: 10px 16px;
    letter-spacing: -1.33px;
    line-height: 0.88;
    border-radius: 62px;
    white-space: nowrap;
    transform: translateY(100%) rotate(0deg);
    opacity: 0;
    transition:
        opacity 0.3s ease,
        transform 1s ease-out;
}

.hero__title .h1 > div:nth-of-type(1)::after {
    top: -15%;
    left: 18%;
}

.hero__title .h1 > div:nth-of-type(2)::after {
    top: 78%;
    left: 2%;
}

.hero__title .h1 > div:nth-of-type(3)::after {
    top: -15%;
    right: 5%;
}

@media (min-width: 768px) {
 .hero__title .h1 > div:nth-of-type(3)::after {
    top: -5%;
    right: 5%;
  }
}

.hero__title .h1 > div:nth-of-type(4)::after {
    top: 80%;
    left: 0%;
}

@media (min-width: 768px) {
 .hero__title .h1 > div:nth-of-type(4)::after {
    top: 90%;
    left: 0%;
  }
}

.hero__title .h1 > div[data-keyword-ready="true"]::after {
    opacity: 1;
}
.hero__title .h1 > div:nth-of-type(1)[data-keyword-ready="true"]::after {
    transform: translateY(0) rotate(-3.47deg);
}

.hero__title .h1 > div:nth-of-type(2)[data-keyword-ready="true"]::after {
    transform: translateY(0) rotate(-4.59deg);
}

.hero__title .h1 > div:nth-of-type(3)[data-keyword-ready="true"]::after {
    transform: translateY(0) rotate(-3.47deg);
}

.hero__title .h1 > div:nth-of-type(4)[data-keyword-ready="true"]::after {
    transform: translateY(0) rotate(-4.59deg);
}

.hero__content p {
    font-size: var(--fs-lg);
    letter-spacing: -1.33px;
    line-height: 1.01;
    margin-top: 39rem;
}

.button {
}

.button--text {
    text-decoration: underline;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
}

#gradients {
    width: 100dvw;
    height: 100dvh;
}

.group-1,
.group-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    --f-width: 1440;
    --f-height: 1024;
}

/* Ellipse 10 */
.group-2 .ellipse-10 {
  position: absolute;
  width: calc(1306.88 / var(--f-width) * 100vw);
  height: calc(405.47 / var(--f-height) * 100vh);
  left: calc(96.73 / var(--f-width) * 100vw);
  top: calc(556 / var(--f-height) * 100vh);

  background: #F07121;
  filter: blur(calc(127 / var(--f-width) * 100vw));
}


/* Ellipse 12 */
.group-2 .ellipse-12 {
  position: absolute;
  width: calc(1296.85 / var(--f-width) * 100vw);
  height: calc(583.91 / var(--f-height) * 100vh);
  left: calc(-19.41 / var(--f-width) * 100vw);
  top: calc(520.34 / var(--f-height) * 100vh);

  background: rgba(170, 31, 36, 0.3);
  filter: blur(calc(127 / var(--f-width) * 100vw));
}


/* Ellipse 14 */
.group-2 .ellipse-14 {
  position: absolute;
  width: calc(584 / var(--f-width) * 100vw);
  height: calc(269 / var(--f-height) * 100vh);
  left: calc(204 / var(--f-width) * 100vw);
  top: calc(745 / var(--f-height) * 100vh);

  background: #800E12;
  filter: blur(calc(127 / var(--f-width) * 100vw));
}


/* Ellipse 15 */
.group-2 .ellipse-15 {
  position: absolute;
  width: calc(584 / var(--f-width) * 100vw);
  height: calc(269 / var(--f-height) * 100vh);
  left: calc(-53 / var(--f-width) * 100vw);
  top: calc(586 / var(--f-height) * 100vh);

  background: #DA2E2E;
  filter: blur(calc(127 / var(--f-width) * 100vw));
}

/* Ellipse 10 */
.group-1 .ellipse-10 {
  position: absolute;
  width: calc(1501.97 / var(--f-width) * 100vw);
  height: calc(466 / var(--f-height) * 100vh);
  left: calc(-225 / var(--f-width) * 100vw);
  top: calc(0 / var(--f-height) * 100vh);

  background: #F07121;
  filter: blur(calc(127 / var(--f-width) * 100vw));
}


/* Ellipse 11 */
.group-1 .ellipse-11 {
  position: absolute;
  width: calc(1501.97 / var(--f-width) * 100vw);
  height: calc(466 / var(--f-height) * 100vh);
  left: calc(-201 / var(--f-width) * 100vw);
  top: calc(-36 / var(--f-height) * 100vh);

  background: #AA1F24;
  filter: blur(calc(127 / var(--f-width) * 100vw));
}


/* Ellipse 14 */
.group-1 .ellipse-14 {
  position: absolute;
  width: calc(1501.97 / var(--f-width) * 100vw);
  height: calc(466 / var(--f-height) * 100vh);
  left: calc(-201 / var(--f-width) * 100vw);
  top: calc(-36 / var(--f-height) * 100vh);

  background: #AA1F24;
  filter: blur(calc(127 / var(--f-width) * 100vw));
}


/* Ellipse 12 */
.group-1 .ellipse-12 {
  position: absolute;
  width: calc(1553.18 / var(--f-width) * 100vw);
  height: calc(483.5 / var(--f-height) * 100vh);
  left: calc(-263.22 / var(--f-width) * 100vw);
  top: calc(158 / var(--f-height) * 100vh);

  background: rgba(170, 31, 36, 0.3);
  filter: blur(calc(127 / var(--f-width) * 100vw));
}


/* Ellipse 13 */
.group-1 .ellipse-13 {
  position: absolute;
  width: calc(757.69 / var(--f-width) * 100vw);
  height: calc(349.22 / var(--f-height) * 100vh);
  left: calc(0 / var(--f-width) * 100vw);
  top: calc(-36 / var(--f-height) * 100vh);

  background: #800E12;
  filter: blur(calc(127 / var(--f-width) * 100vw));
}


